{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
<p>Be aware that this process makes your repository offline, in order to make it available online again, manual intervention by an admin is needed.</p>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    {{ title }}
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {
    jQuery('{{ trigger }}').click(function(e) {
      e.preventDefault();
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('div#form-{{ id }}-message').empty();
      jQuery('div#form-{{ id }}-error').empty();

      AJS.messages.warning('div#form-{{ id }}-message', {
        body: '<b>Are you sure you want to archive this repository?<b>'
      });
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      if (confirm("Are you really sure?") == true) {
        alert("yes");
        doFormSubmit();
      }
    });

    function doFormSubmit() {
      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'DELETE',
        url: '/api/2/shib/svn/{{ pk }}/svn_archive/',
        data: {},
        successCallback: function(data, textStatus, xhr) {
          AJS.messages.generic('#success-message', {
            body: 'This repository should be archived within a few hours.'
          });
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
          return 'Could not archive repository:';
        }
      });
    }
  });
</script>
{% endblock %}
