{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
<form class="aui" id="form-{{ id }}">
  <input class="text full-width-field" id="form-{{ id }}-libuser" type="text" />
  <div class="description">Please define a new service account to be the librarian account.</div>
</form>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    {{ title }}
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {
    jQuery('{{ trigger }}').click(function(e) {
      e.preventDefault();
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('input#form-{{ id }}-libuser').val('');
      jQuery('input#form-{{ id }}-libuser').attr('placeholder','{{ data.libuser }}');
      jQuery('div#form-{{ id }}-message').empty();
      jQuery('div#form-{{ id }}-error').empty();
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
      doFormSubmit();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      doFormSubmit();
    });

    function doFormSubmit() {
      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'PUT',
        url: '/api/2/shib/svn/{{ pk }}/',
        data: {
          'libuser': jQuery('#form-{{ id }}-libuser').val()
        },
        successCallback: function(data, textStatus, xhr) {
          var message = 'The librarian is being changed ...';
          message += '<br />Please refresh this page in a couple of minutes to verify the change.';
          AJS.messages.generic('#success-message', {
            body: message
          });
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
          return 'Could not change the librarian:';
        }
      });
    }
  });
</script>
{% endblock %}
