{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    {{ title }}
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {
    jQuery('{{ trigger }}').click(function(e) {
      e.preventDefault();
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('div#form-{{ id }}-message').empty();
      jQuery('div#form-{{ id }}-errors').empty();

      AJS.messages.warning('div#form-{{ id }}-message', {
        body: 'Are you sure you want to initialize Trac for this repository?'
      });
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      doFormSubmit();
    });

    function doFormSubmit() {
      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'POST',
        url: '/api/2/shib/svn/{{ pk }}/trac/init/',
        data: {},
        successCallback: function(data, textStatus, xhr) {
          message = 'Trac for this repository is being initialized ...';
          message += '<br />Please refresh this page in a couple of hours to verify the change.';
          AJS.messages.generic('#success-message', {
            body: message
          });
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
          return 'Could not initialize Trac for this repository:';
        }
      });
    }
  });
</script>
{% endblock %}
