{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-error"></div>
<form class="aui" id="form-{{ id }}">
  <div style="position: relative; top: -1em"><a style="float: right;" href="https://cern.service-now.com/service-portal/article.do?n=KB0005139">KB article</a></div>
  <div style="margin-top: 1em;" class="dbHost">Enter the destination on Gitlab:</div>
  <input class="text full-width-field" id="form-{{ id }}-destProjectName" type="text" required/>
</form>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    {{ title }}
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {
    jQuery('{{ trigger }}').click(function(e) {
      e.preventDefault();
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('div#form-{{ id }}-error').empty();
      jQuery('div#form-{{ id }}-message').empty();
      jQuery('input#form-{{ id }}-destProjectName').attr('placeholder','user/repository');

      AJS.messages.warning('div#form-{{ id }}-message', {
        body: 'Are you sure you want to migrate Trac to this Gitlab repository?'
      });
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      doFormSubmit();
    });

    function doFormSubmit() {
      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'POST',
        url: '/api/2/shib/svn/{{ pk }}/trac/migrate/',
        data: {
	        'destProjectName': jQuery('#form-{{ id }}-destProjectName').val()
        },
        successCallback: function(data, textStatus, xhr) {
          message = 'Trac tickets, milestones and components are being migrated (it may take a long time depending on the size of Trac)...';
          message += '<br />Please check your Gitlab repository: issues, labels, milestones in a few minutes.';
          AJS.messages.generic('#success-message', {
            body: message
          });
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
          return 'Could not migrate Trac repository:';
        }
      });
    }
  });
</script>
{% endblock %}
