{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    {{ title }}
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {
    jQuery('{{ trigger }}').click(function(e) {
      e.preventDefault();
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('div#form-{{ id }}-message').empty();
      jQuery('div#form-{{ id }}-error').empty();

      AJS.messages.warning('div#form-{{ id }}-message', {
        body: 'Are you sure you want to resynchronize the Trac database?'
      });
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      doFormSubmit();
    });

    function doFormSubmit() {
      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'POST',
        url: '/api/2/shib/svn/{{ pk }}/trac/resync/',
        data: {},
        successCallback: function(data, textStatus, xhr) {
          AJS.messages.generic('#success-message', {
            body: 'The Trac database for this repository is currently being resynchronized, which should be completed within a few minutes ...'
          });
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
          return 'Could not resynchronize the Trac database:';
        }
      });
    }
  });
</script>
{% endblock %}
