{% load getattribute %}
{% spaceless %}
{% if projecttable.projects %}
  {% for repository in projecttable.projects %}
  <tr>
    {% for field_name in projecttable.field_names %}
    {% with field=projecttable.field_data|getattribute:field_name %}
    {% if not field.is_admin or admin %}
    <td>{{ repository|getattribute:field_name }}</td>
    {% endif %}
    {% endwith %}
    {% endfor %}
  </tr>
  {% endfor %}
  {% if projecttable.projects.paginator %}
  <tr class="pagination"><td>Page {{ projecttable.projects.number }} of {{ projecttable.projects.paginator.num_pages }}.</td></tr>
  <tr class="pagination">
    <td>
      {% if projecttable.projects.paginator.nearby_pages|first > 1 %}
      <a id="1" href="#">&laquo;</a>
      {% endif %}

      {% for page_num in projecttable.projects.paginator.nearby_pages %}
      <a id="{{ page_num}}" href="#"{% if page_num == projecttable.projects.paginator.page %} class="active"{% endif %}>{{ page_num }}</a>
      {% endfor %}

      {% if projecttable.projects.paginator.nearby_pages|last < projecttable.projects.paginator.num_pages %}
      <a id="{{ projecttable.projects.paginator.num_pages }}" href="#">&raquo;</a>
      {% endif %}
    </td>
  </tr>
  {% endif %}
{% else %}
<tr><td colspan="{{ projecttable.field_names|length }}">No projects found.</td></tr>
{% endif %}
{% endspaceless %}
