{% if projects %}
<p>Page {{ projects.number }} of {{ projects.paginator.num_pages }}.</p>
<div class="pagination">
  {% if projects.paginator.nearby_pages|first > 1 %}
  <a id="1" href="#">&laquo;</a>
  {% endif %}

  {% for page_num in projects.paginator.nearby_pages %}
  <a id="{{ page_num}}" href="#"{% if page_num == projects.paginator.page %} class="active"{% endif %}>{{ page_num }}</a>
  {% endfor %}

  {% if projects.paginator.nearby_pages|last < projects.paginator.num_pages %}
  <a id="{{ projects.paginator.num_pages }}" href="#">&raquo;</a>
  {% endif %}
</div>
{% endif %}
