{% load getattribute %}
{% if projecttable.showheader %}
<div class="actions">
  <form id="search" class="aui" autocomplete="off">
    <input name="q" class="text long-field" type="text" placeholder="{{ projecttable.search_placeholder }}" value="{{ request.GET.q }}" />
    <a data-aui-trigger="" href="#" aria-controls="search_help" style="outline: 0;">
      <span class="aui-icon aui-icon-help">Help</span>
    </a>
    <aui-inline-dialog2 id="search_help" alignment="bottom left" responds-to="toggle" persistent="false">
      <p>Searches the results where the search phrase either:</p>
      <ul>
        {% for field_name in projecttable.field_names %}
        {% with field=projecttable.field_data|getattribute:field_name %}
        {% if 'field_lookup' in field %}
        {% if not field.is_admin or admin %}
        {% if field.field_lookup == 'icontains' %}
        <li>Is in the <em>{{ field.verbose_name }}</em><sup class="green">*</sup>.</li>
        {% elif field.field_lookup == 'contains' %}
        <li>Is in the <em>{{ field.verbose_name }}</em>.</li>
        {% elif field.field_lookup == 'iexact' %}
        <li>Equals the <em>{{ field.verbose_name }}</em><sup class="green">*</sup>.</li>
        {% elif field.field_lookup == 'exact' %}
        <li>Is in the <em>{{ field.verbose_name }}</em>.</li>
        {% else %}
        <li>{{ field_name }} ({{ field_lookup }})</li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endwith %}
        {% endfor %}
      </ul>
      <p><sup class="green">*</sup> Case-insensitive search.</p>
    </aui-inline-dialog2>
  </form>
  <div class="results-per-page">
    <a{% if request.GET.perpage == '10' or not request.GET.perpage %} class="active"{% endif %} id="10" href="#">10</a>
    <a{% if request.GET.perpage == '25' %} class="active"{% endif %} id="25" href="#">25</a>
    <a{% if request.GET.perpage == '50' %} class="active"{% endif %} id="50" href="#">50</a>
    <a{% if request.GET.perpage == '100' %} class="active"{% endif %} id="100" href="#">100</a>
    <a{% if request.GET.perpage == '200' %} class="active"{% endif %} id="200" href="#">200</a>
  </div>
</div>
{% endif %}
<table class="aui">
  <thead>
      {% for field_name, field in projecttable.field_data.items %}
      {% if not field.is_admin or admin %}
      <th>
        {% if projecttable.sortable %}
        <a class="orderby" id="col_{{ field_name }}" href="#">{{ field.verbose_name }}</a>&nbsp;
        {% else %}
        {{ field.verbose_name }}</a>&nbsp;
        {% endif %}
        {% if field.is_admin %}<sup class="red">*</sup>&nbsp;{% endif %}
        <a data-aui-trigger="" href="#" aria-controls="{{ field_name }}" style="outline: 0;">
          <span class="aui-icon aui-icon-help">Help</span>
        </a>
        <aui-inline-dialog2 id="{{ field_name }}" alignment="bottom left" responds-to="toggle" persistent="false">
          {{ field.help_text }}
        </aui-inline-dialog2>
      </th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody class="ajax">
  {% include "projecttable/projecttable_tbody.html" %}
  </tbody>
</table>
{% if admin %}
<div class="aui-message aui-message-generic closeable">
  <p><sup class="red">*</sup> Fields only visible for an administrator.</p>
</div>
{% endif %}
