{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
<form class="aui" id="form-{{ id }}">
  {{ id }}:
  <select class="form-{{ id }}-list select">
    {% if id == 'Notification' %}
      {% for scheme in schemes.Notification %}
      <option value='{{scheme.id}}'>{{scheme.name}}{% if scheme.is_public == 'N' %} *{% endif %}</option>
      {%endfor%}
    {% elif id == 'Permission' %}
          {% for scheme in schemes.Permission %}
          <option value='{{scheme.id}}'>{{scheme.name}}{% if scheme.is_public == 'N' %} *{% endif %}</option>
          {%endfor%}
    {% elif id == 'Category' %}
        {% for scheme in schemes.Category %}
        <option value='{{scheme.id}}'>{{scheme.name}}</option>
        {%endfor%}
    {% elif id == 'Issuesecurity' %}
        {% for scheme in schemes.Issuesecurity %}
        <option value='{{scheme.id}}'>{{scheme.name}}{% if scheme.is_public == 'N' %} *{% endif %}</option>
        {%endfor%}
    {% elif id == 'Issuetypescreen' %}
      {% for scheme in schemes.IssueTypeScreenScheme %}
      <option value='{{scheme.id}}'>{{scheme.name}}{% if scheme.is_public == 'N' %} *{% endif %}</option>
      {%endfor%}
    {% endif %}
  </select>
  <div class="description">Please select the new {{id}} scheme.</div>
  {% if admin %}<sup class="red">*</sup>Private Scheme{% endif %}
</form>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id}}-confirm" class="aui-button aui-button-link">
    Change {{id}} scheme
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {
    jQuery('#trigger-{{ id }}').click(function(e) {
      e.preventDefault();
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('div#form-{{ id }}-message').empty();
      jQuery('div#form-{{ id }}-error').empty();
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
      doFormSubmit();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      doFormSubmit();
    });

    function doFormSubmit() {
      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'PUT',
        url: '/api/2/shib/jira/project/{{ data.id }}/{{ id }}scheme/',
        data: {
        {{id}}Scheme: jQuery('select.form-{{id}}-list').val(),
        },
        successCallback: function(data, textStatus, xhr) {
        jQuery('#name-{{id}}').html("<a href='/jira/{{ id }}schemes/"+jQuery('select.form-{{id}}-list').val()+"/'>"+jQuery('select.form-{{id}}-list option:selected').html()+"</a>");
        var message = 'The {{ id }} scheme is being changed...';
          message += '<br />Please refresh this page in a couple of minutes to verify the change.';
          AJS.messages.generic('#success-message', {
            body: message
          });
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
        return 'Could not change the {{ id }} scheme:';
        }
      });
      return false;
    }
  });
</script>
{% endblock %}
