.green { color: green; }
.red { color: red; }
.yellow { color: #FFCC00; }
.line-through { text-decoration: line-through; }
.strong { font-weight: bold; }
.opacity-half { opacity: 0.5; }

/* Non-supported browser error (div injected by JS) */
div#browser-not-supported-message {
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 10px 0px 10px 10px;
}

/* Header */
#cernlogo,#cernlogo a {
	margin: 0;
	padding-top: 10px;
	font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
	color: #999;
	font-weight: 400;
	line-height: 1;
}

#cernlogo a:hover {
	text-decoration: none;
	background: none;
	color: #CCCCCC;
}

/* Requests page */
.actionimgdiv {
	text-align: center;
	width: 100%;
  margin: 50px 0;
}

.actionimgdiv a {
  border: 1px solid white;
	display: inline-block;
}

.actionimgdiv a:hover {
	border-style: dotted;
	border-width: 1px;
	border-color: #2E2E2E;
	text-decoration: none;
}

.actionimg img {
	margin: 5px;
	height: 100px;
	width: auto;
}

/* Details pages */
.progressBar {
  margin-top:4px;
  margin-bottom: 3px;
  border: 1px solid #c4bfbf;
  border-radius: 3.01px;
  box-shadow: inset 0 1px 3px #ccc;
  box-sizing: border-box;
  color: #333;
  height:15px;
  width: 90px;
}

.progressBar > div{
  background-color: #ccc;
  box-shadow: inset 0 1px 3px #ccc;
  box-sizing: border-box;
  height: 15px;
  border-radius: 3px;
}

/* Forms */
input[readonly="readonly"],
select[readonly="readonly"] {
  background-color: #eee !important;
  pointer-events: none;
}

/* Details page */
div#success-message {
  margin: 0 0 15px;
}

div.details-page h2 {
  margin-bottom: 15px;
}

div.details-page table {
  margin: 0 0 20px;
}

div.details-page div.aui-message {
  margin: 0 0 20px;
}

div#git-details table th,
div#svn-details table th {
  width: 270px;
}

/* Browse projects page */
div#browse_projects > div {
  margin-bottom: 25px;
}

div#browse_projects table {
  width: auto;
}

/* Projecttable CSS */

div#projecttable .actions {
  width: 100%;
  margin: 10px 0;
}

div#projecttable .actions form#search {
  display: inline;
}

div#projecttable .actions div.results-per-page {
  float: right;
  margin-top: 5px;
}

div#projecttable .actions div.results-per-page a {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px 5px;
  margin: 0 5px 0 0;
  border-radius: 3px;
}

div#projecttable .actions div.results-per-page a.active {
  font-weight: bold;
  pointer-events: none;
}

div#projecttable tr.pagination {
  border-bottom: 0px;
}

div#projecttable tr.pagination a {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px 5px;
  margin: 0 15px 0 0;
  border-radius: 3px;
}

div#projecttable tr.pagination a.active {
  font-weight: bold;
  pointer-events: none;
}

/*
 *
 * Jenkins CSS
 *
 */

table.formset-table tr.error-message {
  color: #D04437;
}

table.formset-table td.error {
  border: 1px solid #D04437;
}

table.formset-table input[readonly="True"] {
  background-color: #eee;
  color: #555;
}

tr.slave.deleted {
  color: grey;
}

/* AUI Override */

.aui-header {
  background-color: #2E2E2E;
  border-bottom: medium none #2E3D54;
}

/*
 * 2015-02-11 (Terje Andersen)
 * Don't know what this CSS is about, best thing is to disable it and see
.egroupimg {
	margin-right: 15px;
}

.overflowElement {
  overflow: auto;
}

.detailsTable th {
  width: 270px;
  white-space: nowrap;
}

.detailsTable thead th {
  width: auto;
  white-space: normal;
}

.detailsTable td {
  white-space: nowrap;
}

.detailsTable tr.wrap td {
  white-space: normal;
}

.button-like-nav{
  background: #2e2e2e;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.42;
  margin: 0;
  padding: 4px 10px;
  border: 1px solid #2e2e2e;
  border-radius: 3.01px;
}

*/
.aui-icon-edit {
/* icon-help.png */
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAgElEQVQ4jd3QwQmDQBSE4deCLaQFW0gLtiC8w75/brZgLbZgC9ayLWwuK4RAMG4gAQfm+M1hzH6ViBiBLKkAi7t3p7Ck8lxgacZ7v8JAbsaSSkSMV8Pu3jVjMzNgePf2Ia4DMzAB2wvuD3Ed2Nz9tv9wCteBLGkF5pTS/WP49zwAKEvK7IAGzVoAAAAASUVORK5CYII=');
}
