{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
<form class="aui">
  <select id="form-{{ id }}-choice" class="select medium-long-field">
    <option value="">---</option>
    <option value="approved">Accept request</option>
    <option value="rejected">Reject request</option>
  </select>
</form>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    {{ title }}
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {

    var pk = undefined;

    jQuery('{{ trigger }}').click(function(e) {
      e.preventDefault();
      pk = jQuery(this).attr('id');
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('div#form-{{ id }}-message').empty();
      jQuery('div#form-{{ id }}-errors').empty();
      jQuery('select#form-{{ id }}-choice').val('');

      AJS.messages.warning('div#form-{{ id }}-message', {
        body: pk + ': {{ confirmmessage }}',
      });
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      doFormSubmit(jQuery('#form-{{ id }}-choice').val());
    });

    function doFormSubmit(choice) {
      if (choice.length == 0) {
        AJS.dialog2('#{{ id }}').hide();
        return;
      }
      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'POST',
        url: '/api/2/shib/{{ apiendpoint }}/' + pk + '/' + choice + '/',
        data: {},
        successCallback: function(data, textStatus, xhr) {
          location.reload();
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
          return 'Could not approve:';
        }
      });
    }
  });
</script>
{% endblock %}
