{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
<input type="checkbox" class="information_confirmed" />
<span>I have read and understood the following:</span>
<ul>
  <li>GitLab is now the <strong>recommended tool</strong> for all new version control projects hosted at CERN.</li>
  <li>My repository has to be <strong>manually approved</strong> by an admin before it's created.</li>
</ul>
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    I confirm - please request this project 
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  jQuery(function() {
    jQuery('{{ trigger }}').click(function(e) {
      e.preventDefault();
      AJS.dialog2('#{{ id }}').show();
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      if (jQuery('input.information_confirmed').is(':checked')) {
        jQuery('#{{outerFormId}}').submit();
      } else {
        AJS.dialog2('#{{ id }}').hide();
      }
    });
  });
</script>
{% endblock %}
