{% extends "weblib/aui-dialog2.html" %}

{% block content %}
<div id="form-{{ id }}-message"></div>
<div id="form-{{ id }}-error"></div>
{% if not impersonate %}
<form class="aui" id="form-{{ id }}">
  <input class="text full-width-field" id="form-{{ id }}-account" type="text" />
  <div class="description">
    Enter an existing user account.
  </div>
</form>
{% else %}
<p>Do you want to stop impersonating the user <em>{{ username }}</em>?</p>
{% endif %}
{% endblock %}

{% block footer-actions %}
  <button id="form-{{ id }}-confirm" class="aui-button aui-button-link">
    {% if not impersonate %}
    Impersonate user
    {% else %}
    Stop impersonating user {{ username }}
    {% endif %}
  </button>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  AJS.$(document).ready(function() {
    AJS.$('{{ trigger }}').click(function(e) {
      e.preventDefault();
      jQuery('#form-{{ id }}-account').val('');
      AJS.dialog2('#{{ id }}').show();
    });

    AJS.dialog2('#{{ id }}').on('show', function() {
      jQuery('#form-{{ id }}-message').empty();
      {% if not impersonate %}
      AJS.messages.warning('#form-{{ id }}-message', {
        body: 'Please note that this operation may take a while (~20 sec).'
      });
      {% endif %}
    });

    jQuery('form#form-{{ id }}').submit(function(e) {
      e.preventDefault();
    });

    jQuery('button#form-{{ id }}-confirm').click(function() {
      doFormSubmit();
    });

    function doFormSubmit() {
      if (jQuery('#form-{{ id }}-account').length) {
        data = { 'login': jQuery('#form-{{ id }}-account').val() };
      } else {
        data = {};
      }

      doDialogAjax({
        dialog_id: '{{ id }}',
        type: 'POST',
        url: '/impersonate/',
        data: data,
        successCallback: function(data, textStatus, xhr) {
          location.reload();
        },
        errorCallback: function(xhr, textStatus, errorThrown) {
          return 'Could not impersonate the user:';
        }
      });
    }
  });
</script>
{% endblock %}
