{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Show linked repositories</li>
    </ol>
    <h1>Repositories linked to JIRA</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="aui-message aui-message-generic">
  <p>This list shows a list of repositories added to the <a href="https://its.cern.ch/jira">JIRA central instance</a> server.</p>
  <p>Linked repositories in JIRA allows you to view commits in your JIRA ticket by referencing the ticket in the commit messages.</p>
</div>

<div class="aui-message aui-message-warning">
  <p class="title">Please note:</p>
  <p>GitLab and Jira integration <a href="https://cern.service-now.com/service-portal/article.do?n=KB0003166">KB0003166</a>.</p> 
</div>

<div id="projecttable">
  {% include "projecttable/projecttable.html" %}
</div>
{% endblock %}

{% block scripts %}
{% include "projecttable/projecttable_scripts.html" %}
{% endblock %}
