{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Remove linked repository</li>
    </ol>
    <h1>Remove linked repository from JIRA</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="aui-message aui-message-{{ message_type }}">
  <p class="title">{{ message_title }}</p>
  <p>{{ message_body }}
</div>
{% endblock %}
