{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Link repository to JIRA</li>
    </ol>
    <h1>Link repository to JIRA</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="aui-message aui-message-generic">
  <p>By linking a repository to JIRA, you can view commits to the repository in your JIRA task by including the task ID (<em>e.g MYPROJ-123</em>) in the commit message.</p>
  <p>A service-now support ticket will be opened in your name, and resolved when the repository has been added to the JIRA web interface.</p>
</div>

<div class="aui-message aui-message-warning">
  <p>Currently, only Git repositories hosted in the legacy git.cern.ch service are supported. Please note the <a href="https://cern.service-now.com/service-portal/view-outage.do?from=CSP-Service-Status-Board&n=OTG0028769">discontinuation plan</a> of git.cern.ch</p>
  <p>Git repositories hosted in <a href="http://gitlab.cern.ch">GitLab</a> are by default linked with Jira and shouldn't use this form. More details about GitLab/Jira integration can be found in <a href="https://cern.service-now.com/service-portal/article.do?n=KB0003166">KB0003166</a></p>
  <p>For adding SVN Repositories to JIRA, please open a support ticket manually.</p>  
</div>

{% if form.non_field_errors %}
<div class="aui-message aui-message-error closeable">
  <p class="title">The form returned an error:</p>
  {{ form.non_field_errors }}
</div>
{% endif %}

<form action="/jira/linked-repository/request/" method="post" class="aui" autocomplete="off">

  {% for field in form %}
  {% if field.field.required %}
  <div class="field-group">
    {% include "cernforge/form_template.html" %}
  </div>
  {% endif %}
  {% endfor %}

  {% for field in form %}
  {% if not field.field.required %}
  <div class="field-group optional" style="display: none;">
    {% include "cernforge/form_template.html" %}
  </div>
  {% endif %}
  {% endfor %}

  <div class="buttons-container">
    <div class="buttons">
      <!-- <input type="button" class="aui-button" value="Advanced" id="showOptional"></input> -->
      <input type="submit" class="aui-button aui-button-primary" value="Link repository"></input>
    </div>
  </div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  jQuery(function() {
    jQuery("#showOptional").on("click",function() {
      toggleElementByClass('optional');
      changeElementVal('showOptional','Advanced','Basic');
      changeElementVal('id_is_basic', 'True', 'False');
    });
  });
</script>
{% endblock %}
