{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Link repository to JIRA</li>
    </ol>
    <h1>Link repository to JIRA - DISABLED</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="aui-message aui-message-error">
  <p>Linking a repository to JIRA  is disabled.</p>
  <p>See <a href='https://cern.service-now.com/service-portal/article.do?n=KB0003166'>KB0003166</a></p>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
  jQuery(function() {
    jQuery("#showOptional").on("click",function() {
      toggleElementByClass('optional');
      changeElementVal('showOptional','Advanced','Basic');
      changeElementVal('id_is_basic', 'True', 'False');
    });
  });
</script>
{% endblock %}
