<div class="aui-message aui-message-warning">
  <p>
    GitLab is now production and the recommended service for all new version control projects hosted at CERN.<br />
    Due to this, SVN repositories have to be <strong>approved</strong> by a SVN administrator before it's created.
  </p>
  <p>
    GitLab is a self-service code hosting application based on Git that provides collaboration and code review features (similar to GitHub).<br />
    To access the application go to <a href="https://gitlab.cern.ch">gitlab.cern.ch</a>.
  </p>
  <p>Getting started: <a href="https://cern.service-now.com/service-portal/article.do?n=KB0003137">https://cern.service-now.com/service-portal/article.do?n=KB0003137</a></p>
  <p>Full list of articles about GitLab: <a href="https://cern.service-now.com/service-portal/topic.do?topic=Gitlab">https://cern.service-now.com/service-portal/topic.do?topic=Gitlab</a></p>
</div>
