<!-- SVN dropdown start -->
<li>
  <a href="#dropdown-svn" aria-owns="dropdown-svn" aria-haspopup="true" class="aui-style-default aui-dropdown2-trigger">SVN</a>
  <div id="dropdown-svn" class="aui-style-default aui-dropdown2">
    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>Actions</strong>
      </div>
      <ul>
        <li><a href="/svn/myprojects/">List my projects</a></li>
        <li><a href="/svn/allprojects/">List all projects</a></li>
        <li><a href="/svn/allprojects-obsolete/">Obsolete or Archived project</a></li>
      </ul>
    </div>
    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>Support</strong>
      </div>
      <ul>
        <li><a href="https://cern.ch/svn">Service Page</a></li>
        <li><a href="https://cern.service-now.com/service-portal/faq.do?se=svn-service">FAQ</a></li>
      </ul>
    </div>
  </div>
</li>
<!-- SVN dropdown end -->
