{% extends "cernforge/main_template.html" %}
{% load staticfiles %}
{% load getattribute %}

{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Unmanaged SVN repositories</li>
    </ol>
    <h1>Unmanaged SVN repositories</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="aui-message aui-message-generic" style="margin-bottom: 15px;">
  <p>This view displays all active SVN repositories where either the librarian (<em>libuser</em>) or it's registered owner (<em>respuser</em>) does not exist in LDAP (marked in red).</p>
</div>

<div id="projecttable">
  <p>
    <form autocomplete="off">
      <fieldset id="projectsprefs">
        <input type="checkbox" name="type" value="orphans" {% if request.GET.type == 'orphans' %}checked{% endif %} /> Only show projects that are orphans.
      </fieldset>
    </form>
  </p>
  </p>

  {% include "projecttable/projecttable.html" %}
</div>
{% endblock %}

{% block scripts %}
{% include "projecttable/projecttable_scripts.html" %}
{% endblock %}
