{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li><a href="/svn/request/" class="custom">SVN Project Request</a></li>
      <li class="aui-nav-selected">ATLAS Personal</li>
    </ol>
    <h1>Request a personal ATLAS Repository - DISABLED</h1>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="aui-message aui-message-error">
  <p>Creation of new SVN repositories is disabled.</p>
</div>

{% endblock %}
