{% extends "cernforge/main_template.html" %}
{% load staticfiles %}
{% load getattribute %}

{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Obsolete and Archived SVN repositories</li>
    </ol>
    <h1>Obsolete and Archived SVN repositories</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="aui-message aui-message-generic" style="margin-bottom: 15px;">
  <p>This view displays all SVN repositories marked as archived or obsolete.</p>
</div>

<div id="projecttable">
  <p>
    <form autocomplete="off">
      <fieldset id="projectsprefs">
        <input type="checkbox" name="type" value="obsolete" {% if request.GET.type == 'obsolete' %}checked{% endif %} /> Only show projects that are obsolete.
      </fieldset>
    </form>
  </p>
  </p>

  {% include "projecttable/projecttable.html" %}
</div>
{% endblock %}

{% block scripts %}
{% include "projecttable/projecttable_scripts.html" %}
{% endblock %}
