{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      {% if impersonate or not admin %}
      <li><a href="/svn/myprojects/">My SVN projects</a></li>
      {% else %}
      <li><a href="/svn/allprojects/">All SVN projects</a></li>
      {% endif %}
      <li class="aui-nav-selected">SVN Repository - {{ data.shortname }}</li>
    </ol>
    <h1>{{data.shortname}}</h1>
  </div>
</div>
{% endblock %}

{% block nav %}
{% if data.status == 'active' %}
<div class="aui-page-panel-nav">
  <nav class="aui-navgroup aui-navgroup-vertical">
    <div class="aui-navgroup-inner">
      <div class="aui-nav-heading">
        <strong>Actions</strong>
      </div>
    </div>
    <div class="aui-navgroup-inner">
      <ul class="aui-nav">
        <li><a id="trigger-resetRepository" href="#">Reset Repository</a></li>
        <li><a id="trigger-changeLib" href="#">Set new librarian</a></li>
        <li><a id="trigger-changeAccess" href="#">Change Access to {% if data.restrictionlevel == 'W' %}Private {% else %}Public {% endif %}</a></li>
        <li><a id="trigger-moreQuota" href="#">Ask for more Quota</a></li>
        <li><a id="trigger-removeRepository" href="#">Remove Repository</a></li>
	<li><a id="trigger-migrateTrac" href="#">Migrate Trac data to Gitlab</a></li>
        {% if admin %}
        {% comment %}
        {% if has_trac %}
        <li><a id="trigger-upgrade_trac" href="#">Upgrade Trac database</a></li>
        <li><a id="trigger-resyncTrac" href="#">Resync Trac database</a></li>
        {% else %}
        <li><a id="trigger-initializeTrac" href="#">Initialize Trac</a></li>
        {% endif %}
        {% endcomment %}
        {% endif %}
      </ul>
    <div>
  </nav>
</div>

{% include "svn/dialogs/resetRepository.html" with id="resetRepository" size="small" title="Reset Repository" trigger="#trigger-resetRepository" %}
{% include "svn/dialogs/changeLib.html" with id="changeLib" size="small" title="Change Librarian Account" trigger="#trigger-changeLib" %}
{% include "svn/dialogs/changeAccess.html" with id="changeAccess" size="small" title="Change Access" trigger="#trigger-changeAccess" %}
{% include "svn/dialogs/moreQuota.html" with id="moreQuota" size="small" title="Ask for more Quota" trigger="#trigger-moreQuota" %}
{% include "svn/dialogs/removeRepository.html" with id="removeRepository" size="small" title="Remove Repository" trigger="#trigger-removeRepository" %}
{% include "svn/dialogs/migrateTrac.html" with id="migrateTrac" size="small" title="Migrate Trac to:" trigger="#trigger-migrateTrac" %}

{% if has_trac %}
{% include "svn/dialogs/upgradeTrac.html" with id="upgrade_trac" size="small" title="Upgrade Trac" trigger="#trigger-upgrade_trac" %}
{% include "svn/dialogs/resyncTrac.html" with id="resyncTrac" size="small" title="Resynchronize Trac Database" trigger="#trigger-resyncTrac" %}
{% else %}
{% include "svn/dialogs/initializeTrac.html" with id="initializeTrac" size="small" title="Initialize Trac" trigger="#trigger-initializeTrac" %}
{% endif %}

{% endif %}
{% endblock %}

{% block content %}
{% if data.status != 'active' %}
<div class="aui-message aui-message-warning closeable">
  <p class="strong">No actions as long as the repository is not 'active' (currently '{{ data.status }}').</p>
</div>
{% endif %}

<div id="svn-details" class="details-page{% if data.status != 'active' %} opacity-half{% endif %}">
  <!-- #success-message are populated by the dialog JS -->
  <div id="success-message"></div>

  {% if admin %}
  <div class="aui-message aui-message-generic closeable">
    <p><sup class="red">*</sup>: Fields only visible for an administrator.</p>
  </div>
  {% endif %}

  <div class="aui-page-header">
    <h2>Repository Information</h2>
  </div>
  <table class="aui">
      <tr><th>Name</th><td>{{data.shortname}}</td></tr>
      <tr><th>Description</th><td>{{data.longname}}</td></tr>
      {% if admin %}<tr><th>Requester <sup class="red">*</sup></th><td>{{data.requestor}}</td></tr>{% endif %}
      <tr><th>Librarian account</th><td>{{data.libuser}}</td></tr>
      <tr><th>Access</th><td>{{data.restrictionlevel}} ({{data.restrictionlevelHR}})</td></tr>
      <tr><th>Status</th><td>{{data.status}}</td></tr>
      <tr><th>Creation Date</th><td>{{data.create_date}}</td></tr>
      <tr><th>Last Changed Date</th><td>{{last_changed_date}}</td></tr>
      <tr>
        <th>Trac</th>
        <td>{% if has_trac %}<span class="aui-icon aui-icon-small aui-iconfont-success"></span>{% else %}<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>{% endif %}</td>
      </tr>
  </table>

  <div class="aui-page-header">
    <h2>Administration URLs</h2>
  </div>
  <table class="aui detailsTable">
    <tr><th>SSH Admin Access</th><td>svn+ssh://svn.cern.ch/reps/admin/{{data.shortname}}</td></tr>
    <tr><th>HTTPS Admin Access</th><td> https://svn.cern.ch/reps/admin/{{data.shortname}}</td></tr>
  </table>

  <div class="aui-page-header">
    <h2>SVN Client URLs</h2>
  </div>
  <table class="aui detailsTable">
    <tr>
      <th>SSH Client Access</th>
      <td>svn+ssh://svn.cern.ch/reps/{{data.shortname}}</td>
    </tr>
    <tr>
      <th>HTTPS Client Access</th>
      <td>svn co https://svn.cern.ch/reps/{{data.shortname}}</td>
    </tr>
    <tr>
      <th>HTTPS Guest (Anonymous) Access</th>
      <td>svn co http://svn.cern.ch/guest/{{data.shortname}}</td>
    </tr>
  </table>

  <div class="aui-page-header">
    <h2>Web Interface Links</h2>
  </div>
  </br>
  <table class="aui detailsTable">
     {% if has_trac %}<tr>
        <th>Trac Web Interface</th>
        <td><a href="https://svnweb.cern.ch/trac/{{data.shortname}}">Trac</a></td>
      </tr>{% endif %}
      <tr>
        <th>WebSvn Web Interface</th>
        <td><a href="https://svnweb.cern.ch/{% if data.restrictionlevel == "W" %}world{% else %}cern{% endif %}/wsvn/{{data.shortname}}">WebSVN</a></td>
      </tr>
  </table>

  <div class="aui-page-header">
    <h2>Quota</h2>
  </div>
  <table class="aui detailsTable">
    {% if afs_info != None %}
    <tr>
      <th>Used/Total Space (mB)</th>
      <td>
        <div class="progressBar"><div style="width: {{afs_info.percent_used}};"></div></div>
        {{afs_info.used_quota}}/{{afs_info.quota}}
      </td>
    </tr>
    <tr><th>Percent Used</th><td>{{afs_info.percent_used}}</td></tr>
    {% else %}
    <tr><th>Used/Total Space (mB)</th><td>Unknown</td></tr>
    <tr><th>Percent Used</th><td>Unknown</td></tr>
    {% endif %}
  </table>
</div>
{% endblock %}
<!--
var newRestrictionLevel = {% if data.restrictionlevel == 'W' %}"R"{% else %}"W"{% endif %};
init("{{pk}}","{{data.libuser}}","{{afs_info.quota}}", newRestrictionLevel);
-->
