{% extends "cernforge/main_template.html" %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/js/collapse.js"></script>
{% load staticfiles %}
<script src="{% static "cernforge/js/cernforge.js" %}"></script>

{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      {% if impersonate or not admin %}
      <li><a href="/svn/myprojects/">My SVN projects</a></li>
      {% else %}
      <li><a href="/svn/allprojects/">All SVN projects</a></li>
      {% endif %}
      <li class="aui-nav-selected">Repository form - {{ data.shortname }}</li>
    </ol>
    <h1>{{data.shortname}}</h1>
  </div>
</div>
{% endblock %}
{% block extrahead %}
    {{ block.super }}
{% endblock %}
{% block content %}
{% if data.status != 'active' %}
<div class="aui-message aui-message-warning">
  <p class="strong">No actions as long as the repository is not 'active' (currently '{{ data.status }}').</p>
</div>
{% endif %}
<div id="svn-details" class="details-page{% if data.status != 'active' %} opacity-half{% endif %}">
  <!-- #success-message are populated by the dialog JS -->
  <div id="success-message"></div>
  <a style="cursor:pointer" class="aui-page-header summary">
    <h2><span class="collapse aui-icon aui-icon-large aui-iconfont-collapsed">Expand</span><span class="aui-icon aui-icon-large aui-iconfont-view">View</span> Repository summary</h2>
  </a>
  <div class="content" style="display: none;">
    <table class="aui">
        <tr><th>Name</th><td>{{data.shortname}}</td></tr>
        {% if admin %}<tr><th>Requester <sup class="red">*</sup></th><td>{{data.requestor}}</td></tr>{% endif %}
        <tr><th>Librarian account</th><td>{{data.libuser}}</td></tr>
        <tr><th>Creation Date</th><td>{{data.create_date}}</td></tr>
        <tr><th>Last Changed Date</th><td>{{last_changed_date}}</td></tr>
        {% if last_write_user != "" and last_write_user != "-" and last_write_user != None %}
        <tr><th>Last writing user</th><td>{{last_write_user}}</td></tr>
        {% else %}
        <tr><th>Last writing user</th><td>It is unknown or was made as Guest (Anonymous)</td></tr>
        {% endif %}
        <tr><th>Last Access Date</th><td>{{last_access_date}}</td></tr>
        {% if last_access_user != "" and last_access_user != "-" and last_access_user != None %}
        <tr><th>Last accessing user</th><td>{{last_access_user}}</td></tr>
        {% else %}
        <tr><th>Last accessing user</th><td>It is unknown or was made as Guest (Anonymous)</td></tr>
        <tr><th>Is Jira sync enabled?</th><td>{% if data.jirasync == 1 %}<span class="aui-icon aui-icon-small aui-iconfont-success"></span>{% else %}<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>{% endif %}</td></tr>
        {% endif %}
    </table>
  </div>
  <form action="" method="post">
    <div>
      <p>Following the planned migration from SVN to Gitlab, we would like to know more about the migration status of this SVN repository since you are identified as the owner of it.</p>
      <br>
      <a style="cursor:pointer" class="reasons">
        <h3><span class="collapse aui-icon aui-icon-large aui-iconfont-collapsed">Expand</span><span class="aui-icon aui-icon-large aui-iconfont-editor-help">Reasons</span> Do you want to know why you should change to Gitlab? Here are some reasons.</h3>
      </a>
      <div class="reasons-explanation" style="display: none; padding-top: 1em;">
        <p>
          The developer world is showing a strong trend towards decentralized version control, as it greatly improves collaboration. This is illustrated by GitHub's tremendous success. GitLab enables CERN developers to follow that trend while keeping code hosted in-house.
        </p>
        <p>
          SVN is severely lagging behind in terms of functionality and CERN's deployment is strongly coupled with AFS, whose upcoming decommissioning is already acted.
        </p>
        <p>
          For more information, please refer to these articles:
        </p>
        <p>
          <ul>
		    <li>How to migrate a repository from SVN to Git : <a href="https://cern.service-now.com/service-portal/article.do?n=KB0001905">https://cern.service-now.com/service-portal/article.do?n=KB0001905</a> </li>
            <li>Differences between git and SVN: <a href="https://git.wiki.kernel.org/index.php/GitSvnComparsion">https://git.wiki.kernel.org/index.php/GitSvnComparsion</a> </li>

            <li>Getting started with GitLab: <a href="https://cern.service-now.com/service-portal/article.do?n=KB0003137">https://cern.service-now.com/service-portal/article.do?n=KB0003137</a></li>
            <li>Git best practices: <a href="https://cern.service-now.com/service-portal/article.do?n=KB0003887">https://cern.service-now.com/service-portal/article.do?n=KB0003887</a></li>
            <li>When is it appropriate to use CERN GitLab or external services such as Github?: <a href="https://cern.service-now.com/service-portal/article.do?n=KB0003132">https://cern.service-now.com/service-portal/article.do?n=KB0003132</a></li>
          </ul>
        </p>
        <p>

        </p>
        <br>
      </div>
      {% if data.status == 'active' %}
        <div style="padding-top: 1em;">
          <h3>What is your repository migration status?</h3>
          {{ form.migration_status }}
        </div>
        <div style="padding-top: 1em;">
          <h3>What prevents you from migrating?</h3>
          {{ form.migration_prevents }}
        </div>
      {% endif %}
      <br>
      <div style="padding-top: 1em;">
        <h3>In case you want to tell us about anything hindering the migration:</h3>
        <a href="https://cern.service-now.com/service-portal/report-ticket.do?name=general-help-rqf&fe=service-desk"> Open a request on CERN Service Now</a>
      </div>
      <br>
      <hr>
      <div>
        <p>If this repository is not being used anymore, you may archive it.</p>
      </div>
      <div>
        <a href="https://cern.service-now.com/service-portal/article.do?n=KB0001905"> [ Knowledge Article about SVN to Gitlab Migration ]</a>
      </div>
    </div>
    <br>
    {% if data.status == 'active'%}
      <div class="buttons-container">
        <p>
          <a id="trigger-archive-project" class="aui-button" href="#">Archive project</a>
          <button id="trigger-confirmRequestedRepository" class="aui-button aui-button-primary">Send your answers</button>
        </p>
      </div>
      {% include "svn/dialogs/archiveProject.html" with id="archive-project" size="small" title="Archive project" trigger="#trigger-archive-project" %}
    {% endif %}
  </form>

{% endblock %}



{% block scripts %}
<script type="text/javascript">

  $(".summary").click(function () {

      $header = $(this);
      $icon = $(".summary .collapse")
      //getting the next element
      $content = $(".content");
      //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
      $content.slideToggle(500, function () {
          //execute this after slideToggle is done
          if ($icon.hasClass("aui-iconfont-collapsed"))
            $icon.toggleClass('aui-iconfont-collapsed aui-iconfont-expanded');
          else
            $icon.toggleClass('aui-iconfont-expanded aui-iconfont-collapsed');
      });

  });

  $(".reasons").click(function () {

      $header = $(this);
      $icon = $(".reasons .collapse")
      //getting the next element
      $content = $(".reasons-explanation");
      //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
      $content.slideToggle(500, function () {
          //execute this after slideToggle is done
          if ($icon.hasClass("aui-iconfont-collapsed"))
            $icon.toggleClass('aui-iconfont-collapsed aui-iconfont-expanded');
          else
            $icon.toggleClass('aui-iconfont-expanded aui-iconfont-collapsed');
      });

  });
</script>
{% endblock %}
