{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">SVN Project Request</li>
    </ol>
    <h1>Request a SVN Repository</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="aui-message aui-message-generic">
  <p>Are you an ATLAS user wanting a personal repository? Request it <a href="/svn/request/atlas-personal/">here</a>.</p>
</div>

{% include "svn/gitlab_promotion.html" %}

<div class="aui-message aui-message-warning">
  <p>Please make sure there is no existing SVN repository (see <a href='/svn/allprojects/'>repository list</a>) which could host your code before requesting a new one.
  <p>You are also invited to familiarize yourself with the <a href="http://information-technology.web.cern.ch/book/how-start-working-svn">SVN documentation</a> before requesting the repository.</p>
  <p>Users in large experiments should contact their local support first.</p>
</div>

{% if form.non_field_errors %}
<div class="aui-message aui-message-error closeable">
  <p class="title">The form returned an error:</p>
  {{ form.non_field_errors }}
</div>
{% endif %}

<form action="/svn/request/" method="post" id="formsvn" class="aui unsectioned">
  {% for field in form %}
  <div
    {% if field.field.required %}
    class="field-group"
    {% else %}
    class="field-group optional"
    {% if form.is_basic.value == 'True' %}
    style="display:none;"
    {% endif %}
    {% endif %}
    id="{{field.auto_id}}_div">
    {% include "cernforge/form_template.html" %}
  </div>
  {% endfor %}

  <div class="buttons-container">
    <div class="buttons">
      <input type="button" class="aui-button" value="Advanced" id="showOptional"></input>
      <button id="trigger-confirmRequestedRepository" class="aui-button aui-button-primary">Send Request</button>
    </div>
  </div>
</form>
{% include "cernforge/dialogs/confirmRequestedRepository.html" with id="confirmRequestedRepository" size="small" title="Are you sure?" trigger="#trigger-confirmRequestedRepository" title="Confirm given information" outerFormId="formsvn" %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  jQuery(function() {
    jQuery("#showOptional").on("click",function() {
      toggleElementByClass('optional');
      changeElementVal('showOptional','Advanced','Basic');
      changeElementVal('id_is_basic', 'True', 'False');
    });
  });
</script>
{% endblock %}
