{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">My SVN projects</li>
    </ol>
    <h1>My SVN projects</h1>
  </div>
</div>
{% endblock %}

{% block content%}
<div class="aui-message aui-message-generic closeable" style="margin-bottom: 15px;">
  <p>This page lists all SVN projects which you can administrate.</p>
</div>
<div id="projecttable">
  {% include "projecttable/projecttable.html" %}
</div>
{% endblock %}

{% block scripts %}
{% include "projecttable/projecttable_scripts.html" %}
{% endblock %}
