{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li><a href="/svn/request/" class="custom">SVN Project Request</a></li>
      <li class="aui-nav-selected">ATLAS Personal</li>
    </ol>
    <h1>Request a personal ATLAS Repository</h1>
  </div>
</div>
{% endblock %}
{% block content %}

{% include "svn/gitlab_promotion.html" %}

<div class="aui-message aui-message-warning">
  <p>Please note that from July 1st 2015, SVN repositories has to be <strong>approved</strong> by a SVN administrator before it's created.</p>
  <p>For a per-user SVN repository (atlas-&ltacnt&gt) the important section is <a href="https://twiki.cern.ch/twiki/bin/viewauth/AtlasComputing/SoftwareDevelopmentWorkBookSVN#Per_user_repositories_atlas_user">here</a>.</p>
  <p>If you want to proceed, click on 'Send Request' below if you accept the user agreement.</p>
</div>

{% if form.non_field_errors %}
<div class="aui-message aui-message-error closeable">
  <p class="title">The form returned an error:</p>
  {{ form.non_field_errors }}
</div>
{% endif %}

<form action="/svn/request/atlas-personal/" method="post" id="formsvn" class="aui unsectioned">
  {% for field in form %}
  <div {% if field.field.required %}class="field-group"{% else %}class="field-group optional" style="display:none;"{% endif %} id="{{field.auto_id}}_div">
    {% include "cernforge/form_template.html" %}
  </div>
  {% endfor %}

  <div class="buttons-container">
    <div class="buttons">
      <button id="trigger-confirmRequestedRepository" class="aui-button aui-button-primary">Send Request</button>
    </div>
  </div>
</form>
{% include "cernforge/dialogs/confirmRequestedRepository.html" with id="confirmRequestedRepository" size="small" title="Are you sure?" trigger="#trigger-confirmRequestedRepository" title="Confirm given information" outerFormId="formsvn" %}
{% endblock %}
