{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">{{title}}</li>
    </ol>
    <h1>{{title}}</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<table class="aui">
<thead><tr><th>Key</th><th>Name</th></tr></thead>
{% for project in permissions %}
<tr><td><a href='/jira/myprojects/{{project.key}}'>{{project.key}}</a></td><td>{{project.name}}</tr></tr>
{% endfor %}
</table>
{% endblock %}
