{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">JIRA Categories</li>
    </ol>
    <h1>See JIRA Categories</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<ul>
{% for project in permissions %}
    <li><a href='/jira/categories/{{project.id}}'>{{project.name}}</a>{% if project.description %}, {{project.description}}{% endif %}</li>
{% endfor %}
</ul>
{% endblock %}
