{% extends "cernforge/main_template.html" %}
{% block content%}
<div class="aui-message aui-message-success">
  <p>E-group {{egroup}} was successfully mapped.</p>
</div>

<p>Click <a href="/jira/egroup/sync/">here</a> to synchronize users now or go back to the <a href="/">Main Page</a>.</p>
{% endblock %}
