{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Map/Sync JIRA e-group</li>
    </ol>
    <h1>Map/Sync e-group in JIRA</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="aui-message aui-message-warning">
  <p>If the e-group you are synchonizing is not yet in JIRA, it will be added automatically.</p>
</div>

<form action="/jira/egroup/sync/" method="post" id="formegroup" class="aui unsectioned">
  <div class="field-group">
    <label for="egroup">E-group</label>
    <input type="text" class="text" name="egroup" id="egroup" required></input>
    <div class="description">Please specify an existing e-group.</div>
    {% if error != None %}
    <div class="error">
      <ul class="errorlist">
        <li>{{error}}</li>
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="buttons-container">
    <div class="buttons">
      <input type="submit" class="aui-button aui-button-primary" value="Map/Sync e-group"></input>
    </div>
  </div>
</form>
{% endblock %}
