{% extends "cernforge/main_template.html" %}
{% block content%}
<div class="aui-message aui-message-success">
  <p>E-group {{egroup}} was successfully synced.</p>
</div>
<p>Click <a href="/">here</a> to go back to the main page</a>.</p>
{% endblock %}
