    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>Actions</strong>
      </div>
      <ul>
        <li><a href="/jira/request/">Create new project</a></li>
        <li><a href="/jira/myprojects/">List my projects</a></li>
        <li><a href="/jira/allprojects/">List all projects</a></li>
        <li><a href="/jira/egroup/sync/">Map/Sync e-group</a></li>
        <li><a href="/jira/syncproject/">Sync project</a></li>
      </ul>
    </div>
    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>Linked repositories</strong>
      </div>
      <ul>
        <li><a href="https://cern.service-now.com/service-portal/article.do?n=KB0003166">Link repository</a></li>
        <li><a href="/jira/linked-repository/list/">Show linked repositories</a></li>
      </ul>
    </div>
    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>Support</strong>
      </div>
      <ul>
        <li><a href="https://cern.ch/its">Service</a></li>
        <li><a href="https://cern.service-now.com/service-portal/faq.do?se=jira-service">FAQ</a></li>
        <li><a href="/jira/permissionschemes/">Permission Schemes</a></li>
        <li><a href="/jira/notificationschemes/">Notification Schemes</a></li>
        <li><a href="/jira/categories/">Categories</a></li>
        <li><a href="/jira/issuesecurityschemes/">Issue Security Schemes</a></li>
      </ul>
    </div>
