<!-- JIRA dropdown start -->
<li>
  <a href="#dropdown-jira" aria-owns="dropdown-jira" aria-haspopup="true" class="aui-style-default aui-dropdown2-trigger">JIRA</a>
  <div id="dropdown-jira" class="aui-style-default aui-dropdown2">
    {% include "jira/header_content.html" %}
  </div>
</li>
<!-- JIRA dropdown end -->
