{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li><a href="/jira/issuesecurityschemes/">JIRA Issue Security Schemes</a></li>
      <li class="aui-nav-selected">{{schemename}}</li>
    </ol>
    <h1>{{schemename}}</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="permissions-group"><h4 class="project-permissions-category-header sentence-case">Project Permissions</h4><table class="aui jira-admin-table"><thead><tr><th class="project-permissions-header-cell">Permission</th><th>Description</th></tr></thead><tbody>
  {% for prm in permissions %}
  <tr {% if prm.default == True %}style='font-weight: bold;'{%endif%}>
    <td data-headers="project-permissions"><p class="title">{{prm.name}} {% if prm.default == True %}<span class="project-config-list-default aui-lozenge">Default</span>{%endif%}</p></td><td><p class="description"><small>{{prm.description}}</small></p></td>
    {% endfor %}
    </td></tr>
  </tbody></table>
  </div>
{% endblock %}
