{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">JIRA Permission Schemes</li>
    </ol>
    <h1>See JIRA Issue Security Schemes</h1>
    {% if admin %}<sup class="red">*</sup>Private Scheme{% endif %}
  </div>
</div>
{% endblock %}
{% block content %}
<ul>
{% for project in permissions %}
<li>
  <a href='{{project.id}}/'>{{project.name}}</a>
  {% if project.is_public == 'N' %}<sup class="red">*</sup>{% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
