{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">JIRA Project Request</li>
    </ol>
    <h1>Request a JIRA Repository</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="aui-message aui-message-generic">
  <p>Your project will be created on <a href="{{jira_main}}">{{jira_main}}</a>.</p>
</div>
{% if error %}
<div class="aui-message aui-message-error">
  <p>{{error}} <a href='https://cern.service-now.com/service-portal/report-ticket.do?name=incident&se=JIRA-service'>Contact us</a> if you need any help</p>
</div>
{% endif %}
<form action="/jira/request/" method="post" id="formjira" class="aui">
  <div class="field-group">
    <label for="fname">Project leader</label>
    <span class="field-value">{{displayName}} ({{username}})</span>
    <div class="description">Can be changed later in JIRA</div>
  </div>

  {% for field in form %}
  {% if field.field.required %}
  <div class="field-group" id="div_{{ field.name }}">
    {% include "cernforge/form_template.html" %}
  </div>
  {% endif %}
  {% endfor %}

  {% for field in form %}
  {% if not field.field.required %}
  <div class="field-group optional" style="display: none;">
    {% include "cernforge/form_template.html" %}
  </div>
  {% endif %}
  {% endfor %}
  <div class="buttons-container">
    <div class="buttons">
      <input type="button" class="aui-button" value="Advanced" id="showOptional"></input>
      <input type="submit" class="aui-button aui-button-primary" value="Send Request"></input>
    </div>
  </div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  jQuery(function() {
    jQuery("#showOptional").on("click",function() {
      toggleElementByClass('optional');
      toggleElementById('div_projectTemplateKey')
      changeElementVal('showOptional','Advanced','Basic');
      changeElementVal('id_is_basic', 'True', 'False');
    });
  });
</script>
{% endblock %}
