{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">All JIRA Projects</li>
    </ol>
    <h1>All JIRA Projects</h1>
  </div>
</div>
{% endblock %}

{% block content%}
<div id="projecttable">
  {% include "projecttable/projecttable.html" %}
</div>
{% endblock %}

{% block scripts %}
{% include "projecttable/projecttable_scripts.html" %}
{% endblock %}
