{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">My JIRA projects</li>
    </ol>
    <h1>My JIRA projects</h1>
  </div>
</div>
{% endblock %}

{% block content%}
<div class="aui-message aui-message-generic closeable" style="margin-bottom: 15px;">
  <p>This page lists all JIRA projects where you either are the owner, or you have at least one role (<em>e.g. Developer</em>).</p>
</div>

<div id="projecttable">
<p>
  <form autocomplete="off">
    <fieldset id="projectsprefs">
      <input type="checkbox" name="type" value="owner" {% if request.GET.type == 'owner' %}checked{% endif %} /> Only show projects that I can administrate.
    </fieldset>
  </form>
</p>
</p>
  {% include "projecttable/projecttable.html" %}
</div>
{% endblock %}

{% block scripts %}
{% include "projecttable/projecttable_scripts.html" %}
{% endblock %}
