{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">JIRA</li>
    </ol>
    <h1>JIRA</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<ul>
    {% include "jira/header_content.html" %}
</ul>
{% endblock %}
