{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li><a href="/jira/permissionschemes/">JIRA Permission Schemes</a></li>
      <li class="aui-nav-selected">{{schemename}}</li>
    </ol>
    <h1>{{schemename}}</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="permissions-group"><h4 class="project-permissions-category-header sentence-case">Project Permissions</h4><table class="aui jira-admin-table"><thead><tr><th class="project-permissions-header-cell">Permission</th><th class="security-type-header-cell">Granted to</th></tr></thead><tbody>
  {% for k, prm in permissions.items %}
  <tr>
    <td data-headers="project-permissions"><p class="title">{{prm.title}}</p><p class="description"><small>{{prm.description}}</small></p></td>
    <td><ul>
      {% for v in prm.permissions %}
        <li>{{v}}</li>
      {% endfor %}
    </ul></td></tr>
  {% endfor %}
  </tbody></table>
  </div>
{% endblock %}
