{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">JIRA private schemes access</li>
    </ol>
    <h1>JIRA private schemes access</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<!-- div class="aui-message aui-message-warning">
  <p>If the e-group you are synchonizing is not yet in JIRA, it will be added automatically.</p>
</div-->

<div class="aui-tabs horizontal-tabs">

    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-example-first">Notification Schemes</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-second">Issue Permission Schemes</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-third">Permission Schemes</a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-example-first">
<div class="aui-group">
<div class="aui-item">
<form method="post" id="formegroup" class="aui unsectioned">
  <h2>Notification Schemes</h2>
  <div class="field-group">
    <label for="scheme">Scheme</label>
    <select class="select" name="scheme" id='N'>
    {% for scheme in notificationschemes %}
        <option value="{{ scheme.id }}">{{ scheme.name }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="field-group"><input type="hidden" name="type" value="N"/></div>
  <div class="field-group">
    <label for="egroup">E-group</label>
    <input type="text" class="text" name="egroup" id="Negroup" required></input>
    <div class="description">Please specify an existing e-group.</div>
    {% if error != None %}
    <div class="error">
      <ul class="errorlist">
        <li>{{error}}</li>
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="buttons-container">
    <div class="buttons">
        <img src='/static/weblib/css/images/wait.gif' id='N' class='wait' style='display: none;'>
      <button class="aui-button aui-button-primary" id='N'>Add Access</input>
    </div>
  </div>
</form>
</div>
<div class="aui-item">
<table class="aui" id='Ntable'>
<thead><tr><th>Remove</th><th>E-Group</th><th>Scheme</th></tr></thead>
{% for scheme in mappings %}
{% if scheme.schemeType == 'N' %}<tr><td><a href='#' class='schemeType' egroup='{{ scheme.egroup }}' type='N' id='{{ scheme.id }}'><span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span></a><td>{{scheme.egroup}}</td><td>{{ scheme.name }}</td></tr>{% endif %}
{% endfor %}
</table>
</div></div>
    </div>
    <div class="tabs-pane" id="tabs-example-second">
<div class="aui-group"><div class="aui-item">
<form method="post" id="formegroup" class="aui unsectioned">
  <h2>Issue Permission Schemes</h2>
  <div class="field-group">
    <label for="scheme">Scheme</label>
    <select class="select" name="scheme" id='P'>
    {% for scheme in permissionschemes %}
        <option value="{{ scheme.id }}">{{ scheme.name }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="field-group"><input type="hidden" name="type" value="P"/></div>
  <div class="field-group">
    <label for="egroup">E-group</label>
    <input type="text" class="text" name="egroup" id="Pegroup" required></input>
    <div class="description">Please specify an existing e-group.</div>
    {% if error != None %}
    <div class="error">
      <ul class="errorlist">
        <li>{{error}}</li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <img src='/static/weblib/css/images/wait.gif' id='P' class='wait' style='display: none;'>
      <button class="aui-button aui-button-primary" id='P'>Add Access</button>
    </div>
  </div>
</form>
</div><div class="aui-item">
<table class="aui" id='Ptable'>
<thead><tr><th>Remove</th><th>E-Group</th><th>Scheme</th></tr></thead>
{% for scheme in mappings %}
{% if scheme.schemeType == 'P' %}<tr><td><a href='#' class='schemeType' egroup='{{ scheme.egroup }}' type='P' id='{{ scheme.id }}'><span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span></a></td><td>{{scheme.egroup}}</td><td>{{ scheme.name}}</td></tr>{% endif %}
{% endfor %}
</table>
</div></div>
    </div>
    <div class="tabs-pane" id="tabs-example-third">
<div class="aui-group"><div class="aui-item">
<form method="post" id="formegroup" class="aui unsectioned">
  <h2>Issue Security</h2>
  <div class="field-group">
    <label for="scheme">Scheme</label>
    <select class="select" name="scheme" id='S'>
    {% for scheme in issuesecurity %}
        <option value="{{ scheme.id }}">{{ scheme.name }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="field-group"><input type="hidden" name="type" value="S"/></div>
  <div class="field-group">
    <label for="egroup">E-group</label>
    <input type="text" class="text" name="egroup" id="Segroup" required></input>
    <div class="description">Please specify an existing e-group.</div>
    {% if error != None %}
    <div class="error">
      <ul class="errorlist">
        <li>{{error}}</li>
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="buttons-container">
    <div class="buttons">
      <img src='/static/weblib/css/images/wait.gif' id='S' class='wait' style='display: none;'>
      <button class="aui-button aui-button-primary" id='S'>Add Access</button>
    </div>
  </div>
</form>

</div><div class="aui-item">

<table class="aui" id='Stable'>
<thead><tr><th>Remove</th><th>E-Group</th><th>Scheme</th></tr></thead>
{% for scheme in mappings %}
{% if scheme.schemeType == 'S' %}<tr><td><a href='#' class='schemeType' egroup='{{ scheme.egroup }}' type='S' id='{{ scheme.id }}'><span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span></a><td>{{scheme.egroup}}</td><td>{{ scheme.name}}</td></tr>{% endif %}
{% endfor %}
</table>
    </div></div></div>

{% block javascript %}
<script type="text/javascript">
    $(".schemeType").on('click', function(e){
        // "$(this).attr('id') $(this).attr('type')");
        var row = $(this).parent().parent();
        doDialogAjax({
                 dialog_id: $(this).attr('id'),
                 type: "DELETE",
                 url: "/api/2/shib/jira/schemeegroups/",
                 data: {id: $(this).attr('id'),
                        type: $(this).attr('type'),
                        egroup: $(this).attr('egroup'),
                    },
                 successCallback: function() {
                    row.hide();
                 },
                 errorCallback: function() {
                    alert('Error');
                 },
              })
    });

    $("button").on('click', function(e){
        var buttonId = this.id;
        var id = $('select#'+buttonId).val();
        var egroup = document.getElementById(buttonId+'egroup').value;

        if(egroup.length == 0) {
            alert('Please specify an existing e-group');
            return false;
        }

        $("#"+buttonId+".wait").show();
        doDialogAjax({
            dialog_id: buttonId,
            type: 'POST',
            url: '/api/2/shib/jira/schemeegroups/',
            data: {
                id: id,
                type: buttonId,
                egroup: egroup,
            },
            successCallback: function(data, textStatus, xhr) {
                location.reload()
            },
            errorCallback: function() {
                alert('Error:\n Scheme Type:' + buttonId +'\n Scheme Id: '+id+ '\n Egroup: '+egroup);
            },
        });
        return false;
    });
</script>
{% endblock %}
{% endblock %}
