{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Synchronize JIRA Project</li>
    </ol>
    <h1>Synchronize JIRA project with CERN Forge</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="aui-message aui-message-generic closeable">
  <p>Once a day, CERN Forge iterates over all the JIRA projects on the central instance and updates its local database with the members of the different roles (<em>e.g. Developer</em>).</p>
  <p>This is done in order to provide the lists <em>List my projects</em> and <em>List all projects</em> under the <em>JIRA</em> tab, and has no further functional usage.</p>
  <p>If you want to synchronize a project's role memberships manually you can do it here, by giving the project key or ID.</p>
</div>

<form action="/jira/syncproject/" method="post" id="formjira" class="aui unsectioned">
  <div class="field-group">
    <label for="key_or_id">Project key or ID</label>
    <input type="text" class="text" name="key_or_id" id="key_or_id" required></input>
    <div class="description">Please specify the key or ID of an existing JIRA project on the central instance.</div>
    {% if error != None %}
    <div class="error">
      <ul class="errorlist">
        <li>{{error}}</li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <input type="submit" id="button1" class="aui-button aui-button-primary" value="Synchronize"></input>
    <div>
  </div>
</form>
{% endblock %}
