{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li><a href="/jira/myprojects/">My JIRA projects</a></li>
      <li class="aui-nav-selected">JIRA project - {{ data.name }}</li>
    </ol>
    <h1>{{data.shortname}}</h1>
  </div>
</div>
{% endblock %}

{% block content %}

<script type="text/javascript">
  jQuery(document).ready(function() {
    $.get('/api/2/shib/jira/project/{{ data.id }}/Category/', function(data, status){
      if (data['id'] != 0) {
        jQuery('#name-Category').html("<a href='/jira/categories/"+data['id']+"'>"+data['name']+"</a>");
      } else {
        jQuery('#name-Category').html(data['name']);
      }
      jQuery('select.form-Category-list').val(data['id']);
    });
    $.get('/api/2/shib/jira/project/{{ data.id }}/Permissionscheme/', function(data, status){
      jQuery('#name-Permission').html("<a href='/jira/permissionschemes/"+data['id']+"/'>"+data['name']+"</a>");
      jQuery('select.form-Permission-list').val(data['id']);
    });
    $.get('/api/2/shib/jira/project/{{ data.id }}/Notificationscheme/', function(data, status){
      jQuery('#name-Notification').html("<a href='/jira/notificationschemes/"+data['id']+"/'>"+data['name']+"</a>");
      jQuery('select.form-Notification-list').val(data['id']);
    });
    $.get('/api/2/shib/jira/project/{{ data.id }}/Issuesecurityscheme/', function(data, status){
      jQuery('#name-Issuesecurity').html("<a href='/jira/issuesecurityschemes/"+data['id']+"/'>"+data['name']+"</a>");
      jQuery('select.form-Issuesecurity-list').val(data['id']);
    });
 /*   $.get('/api/2/shib/jira/project/{{ data.id }}/Issuesetypescreenscheme', function(data, status){
      jQuery('#name-Issuesetypescreen').html("<a href='/jira/issuesetypescreenscheme/"+data['id']+"/'>"+data['name']+"</a>");
      jQuery('select.form-Issuesetypescreen-list').val(data['id']);
    }); */
  });

</script>

<div id="svn-details" class="details-page">
  <!-- #success-message are populated by the dialog JS -->
  <div id="success-message"></div>

  <div class="aui-page-header">
    <h2>Project Information</h2>
  </div>

  <!--style type="text/css">
#wrap {
     width:100%;
        margin:0 auto;
}
#left_col {
     float:left;
        width: 50%;
}
#right_col {
     float:right;
        width: 45%;
}
  </style-->

  <table class="aui"i id='left_col'>
      <tr><th>Category</th><td><a href='/jira/categories/{{data.categoryId}}'>{{data.category}}</a></td></tr>
      <tr><th>Name</th><td>{{data.name}}</td></tr>
      <tr><th>Key</th><td><a href='{{jira_browse}}/{{data.key}}'>{{data.key}}</a></td></tr>
      <tr><th>Browse</th><td><a href='{{jira_browse}}/{{data.key}}'>Browse</a></td></tr>
      <tr><th>jira admin page</th><td><a href='{{jira_admin}}/{{data.key}}'>admin</a></td></tr>
      {%comment%}
      {% if admin %}<tr><th>Requester <sup class="red">*</sup></th><td>{{data.requestor}}</td></tr>{% endif %}
      {%endcomment%}
      <tr><th>Owner account</th><td>{{data.owner_id}}</td></tr>
      <tr><th>Administrators (users)</th><td>{% for admin in Uadmins %}<li><a href='https://phonebook.cern.ch/phonebook/#search/?query=user%253A{{admin}}'>{{admin}}</a></li>{% endfor %}</td></tr>
      <tr><th>Administrators (groups)</th><td>{% for admin in Gadmins %}<li><a href='https://e-groups.cern.ch/e-groups/Egroup.do?egroupName={{admin}}'>{{admin}}</a></li>{% endfor %}</td></tr>
  </table>

  <div class="aui-page-header" id="right_col">
    <h2>Schemes</h2>
  </div>

  {% include "jira/dialogs/changeScheme.html" with id="Category" size="small" title="Change Category" %}
  {% include "jira/dialogs/changeScheme.html" with id="Permission" size="medium" title="Change Permission Scheme" %}
  {% include "jira/dialogs/changeScheme.html" with id="Notification" size="large" title="Change Notification Scheme" %}
  {% include "jira/dialogs/changeScheme.html" with id="Issuesecurity" size="medium" title="Change Issue Security Scheme" %}
  {%comment%}  {% include "jira/dialogs/changeScheme.html" with id="Issuetypescreen" size="medium" title="Change Issue Type Screen Scheme" %} {%endcomment %}

<aui-inline-dialog2 id="category" alignment="bottom left" responds-to="toggle" persistent="false">The category of the project</aui-inline-dialog2>
<aui-inline-dialog2 id="permissions" alignment="bottom left" responds-to="toggle" persistent="false">The permission scheme of the project</aui-inline-dialog2>
<aui-inline-dialog2 id="notifications" alignment="bottom left" responds-to="toggle" persistent="false">The notification scheme of the project</aui-inline-dialog2>
<aui-inline-dialog2 id="issuesecurity" alignment="bottom left" responds-to="toggle" persistent="false">The Issue security levels of the project</aui-inline-dialog2>
{%comment%}<aui-inline-dialog2 id="issuetypescreen" alignment="bottom left" responds-to="toggle" persistent="false">The category of the project</aui-inline-dialog2>  {%endcomment%}


  <table class="aui detailsTable" id="right_col">
    <tr><th>Type</th><th>Name</th><th>Change</th><th>View all</th></tr>
    <tr><td>Category <a class="aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left" aria-haspopup="true" aria-expanded="true" resolved="" data-aui-trigger="" href="#" aria-controls="category" style="outline: 0;"><span class="aui-icon aui-icon-help">Help</span></a>
      </td><td id="name-Category"><img src='/static/weblib/css/images/wait.gif'/></td><td><a class='aui-icon aui-icon-edit' id="trigger-Category" href="#">Set new Category</a></td><td><a href="/jira/categories/">Categories</a></td>
              </tr>
                <tr><td>Permissions <a class="aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left" aria-haspopup="true" aria-expanded="true" resolved="" data-aui-trigger="" href="#" aria-controls="permissions" style="outline: 0;"><span class="aui-icon aui-icon-help">Help</span></a></td><td id="name-Permission"><img src='/static/weblib/css/images/wait.gif'/></td><td><a class='aui-icon aui-icon-edit' id="trigger-Permission" href="#">Set new Scheme</a></td><td><a href="/jira/permissionschemes/">Permission Schemes</a></td>
                </tr>
    {%comment%}<tr><td>Notifications</td><td id="name-Notification"><img src='/static/weblib/css/images/wait.gif'/></td><td>-</td></tr>{%endcomment%}
    <tr><td>Notifications <a class="aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left" aria-haspopup="true" aria-expanded="true" resolved="" data-aui-trigger="" href="#" aria-controls="notifications" style="outline: 0;"><span class="aui-icon aui-icon-help">Help</span></a>
      </td><td id="name-Notification"><img src='/static/weblib/css/images/wait.gif'/></td><td><a class='aui-icon aui-icon-edit' id="trigger-Notification" href="#"></a></td><td><a href="/jira/notificationschemes/">Notification Schemes</a></td>
  </tr>
    <tr><td>Issue security level <a class="aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left" aria-haspopup="true" aria-expanded="true" resolved="" data-aui-trigger="" href="#" aria-controls="issuesecurity" style="outline: 0;"><span class="aui-icon aui-icon-help">Help</span></a>
    </td><td id="name-Issuesecurity"><img src='/static/weblib/css/images/wait.gif'/></td><td><a class='aui-icon aui-icon-edit' id="trigger-Issuesecurity" href="#">Set new Scheme</a></td><td><a href="/jira/issuesecurityschemes/">Issue Security Schemes</a></td>
  </tr>

    {%comment%}    <tr><td>Issue Type Screen Scheme <a class="aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left" aria-haspopup="true" aria-expanded="true" resolved="" data-aui-trigger="" href="#" aria-controls="issuetypescreen" style="outline: 0;"><span class="aui-icon aui-icon-help">Help</span></a>
    </td><td id="name-Issuesetypescreen"><img src='/static/weblib/css/images/wait.gif'/></td><td><a id="trigger-Issuetypescreen" href="#">Set new Scheme</a></td></tr> {%endcomment%}
  </table>
</div>
{% endblock %}
<!--
var newRestrictionLevel = {% if data.restrictionlevel == 'W' %}"R"{% else %}"W"{% endif %};
init("{{pk}}","{{data.libuser}}","{{afs_info.quota}}", newRestrictionLevel);
-->
