<section role="dialog" id="{{ id }}" class="aui-layer aui-dialog2 aui-dialog2-{{ size }}" aria-hidden="true">
  <!-- Dialog header -->
  <header class="aui-dialog2-header">
    <!-- The dialog's title -->
    <h2 class="aui-dialog2-header-main">{{ title }}</h2>
    <!-- Actions to render on the right of the header -->
    <div class="aui-dialog2-header-secondary">
      {% block headeractions %}
      {% endblock %}
    </div>
    <!-- Close icon -->
    <a class="aui-dialog2-header-close">
        <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
    </a>
  </header>
  <!-- Main dialog content -->
  <div class="aui-dialog2-content">
    {% block content %}
    {% endblock %}
  </div>
  <!-- Dialog footer -->
  <footer class="aui-dialog2-footer">
    <!-- Actions to render on the right of the footer -->
    <div class="aui-dialog2-footer-actions">
      <span id="{{ id }}-loader" class="aui-icon aui-icon-wait" style="display:none;">Loading...</span>
      {% block footer-actions %}
      {% endblock %}
    </div>
    <!-- Hint text is rendered on the left of the footer -->
    <div class="aui-dialog2-footer-hint">{{ hint }}</div>
  </footer>
</section>
{% block javascript %}
{% endblock %}
