<label for="{{ field.name }}">
  {{ field.label }}
  {% if field.field.required or field.auto_id == "id_is_personal" or field.auto_id == "id_libuser" %}
  <span class="aui-icon aui-icon-required">required</span>
  {% endif %}
</label>

{{ field }}

{% if field.field.error_messages.mega_help != None %}
<a data-aui-trigger="" href="#" aria-controls="{{ field.name }}" style="outline: 0;">
  <span class="aui-icon aui-icon-help">Help</span>
</a>
<aui-inline-dialog2 id="{{ field.name }}" alignment="bottom left" responds-to="toggle" persistent="false">
  {{field.field.error_messages.mega_help}}
</aui-inline-dialog2>
{% endif %}

<div class="description">{{field.help_text}}</div>
<div class="error">{{ field.errors }}</div>
