<!-- Git dropdown start -->
<li>
  <a href="#dropdown-git" aria-owns="dropdown-git" aria-haspopup="true" class="aui-style-default aui-dropdown2-trigger">Git</a>
  <div id="dropdown-git" class="aui-style-default aui-dropdown2">
    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>GitLab Actions</strong>
      </div>
      <ul>
        <li><a href="https://gitlab.cern.ch/projects/new">Create new GitLab project</a></li>
        <li><a href="https://gitlab.cern.ch/dashboard/projects">List my GitLab projects</a></li>
        <li><a href="https://gitlab.cern.ch/explore/projects">List all GitLab projects</a></li>
      </ul>
    </div>
    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>Support</strong>
      </div>
      <ul>
        <li><a href="https://cern.ch/git">Service Page</a></li>
        <li><a href="https://cern.service-now.com/service-portal/faq.do?se=git-service">FAQ</a></li>
      </ul>
    </div>
  </div>
</li>
<!-- Git dropdown end -->
