{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <h1>Welcome to CERN Forge</h1>
  </div>
</div>
{% endblock %}

{% block content%}
<div class="aui-message aui-message-generic">
  <p>CERN Forge is a portal for creating and managing various resources related to code management.</p>
  <p>Use the links at the top panel to navigate.</p>
</div>
{% endblock %}
