<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Setting the version to 'IE=edge' tells Internet Explorer to use the latest engine to render the page and execute JavaScript. -->
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <title>CERN Forge</title>
  <link rel="stylesheet" href="{% static "weblib/css/aui.min.css" %}" media="all">
  <link rel="stylesheet" href="{% static "weblib/css/aui-experimental.min.css" %}" media="all">
  <link rel="stylesheet" href="{% static "weblib/css/aui-iconfonts.min.css" %}" media="all">
  <link rel="stylesheet" href="{% static "cernforge/css/cernforge.css" %}" media="all">
  <script src="{% static "weblib/js/require-2.1.15.min.js" %}"></script>
  <script src="{% static "weblib/js/jquery-1.8.3.min.js" %}"></script>
  <script src="{% static "weblib/js/aui.min.js" %}"></script>
  <!-- <script src="{% static "weblib/js/aui-css-deprecation-warnings.min.js" %}"></script> -->
  <script src="{% static "weblib/js/aui-datepicker.min.js" %}"></script>
  <script src="{% static "weblib/js/aui-experimental.min.js" %}"></script>
  <script src="{% static "cernforge/js/cernforge.js" %}"></script>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static "cernforge/img/favicon/apple-touch-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "cernforge/img/favicon/apple-touch-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "cernforge/img/favicon/apple-touch-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "cernforge/img/favicon/apple-touch-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "cernforge/img/favicon/apple-touch-icon-114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "cernforge/img/favicon/apple-touch-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "cernforge/img/favicon/apple-touch-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "cernforge/img/favicon/apple-touch-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "cernforge/img/favicon/apple-touch-icon-180x180.png" %}">
  <link rel="icon" type="image/png" href="{% static "cernforge/img/favicon/favicon-32x32.png" %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static "cernforge/img/favicon/android-chrome-192x192.png" %}" sizes="192x192">
  <link rel="icon" type="image/png" href="{% static "cernforge/img/favicon/favicon-96x96.png" %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static "cernforge/img/favicon/favicon-16x16.png" %}" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="aui-layout aui-theme-default">
  <div id="page">
    <header id="header" role="banner">
      <nav class="aui-header" data-aui-responsive="true" role="navigation">
        <h1 id="logo" style="display: none;">&nbsp;</h1>
        <div class="aui-header-primary">
          <ul class="aui-nav">
            <li id="cern_forge_link"><a href="/"><b>CERN</b><span style="color: #999;" > Forge</span></a></li>
            {% include "cernforge/header.html" %}
<!-- Jenkins dropdown start -->
<li>
  <a href="#dropdown-jenkins" aria-owns="dropdown-jenkins" aria-haspopup="true" class="aui-style-default aui-dropdown2-trigger">Jenkins</a>
  <div id="dropdown-jenkins" class="aui-style-default aui-dropdown2">
    <div class="aui-dropdown2-section">
      <div class="aui-dropdown2-heading">
        <strong>Support</strong>
      </div>
      <ul>
        <li><a href="http://cern.ch/jenkinsdocs/">Documentation</a></li>
      </ul>
    </div>
  </div>
</li>
<!-- Jenkins dropdown end -->

            {% include "jira/header.html" %}
            {% include "svn/header.html" %}
            {% if admin and not impersonate %}
            <li>
              <a href="#dropdown-admin" aria-owns="dropdown-admin" aria-haspopup="true" class="aui-style-default aui-dropdown2-trigger">Admin</a>
              <div id="dropdown-admin" class="aui-style-default aui-dropdown2">
                <div class="aui-dropdown2-section">
                  <!--ul>
                    <li title="Administration panel, DB access"><a href="/admin/">Admin</a></li>
                  </ul-->
                  <div class="aui-dropdown2-heading">
                    <strong>Actions</strong>
                  </div>
                  <ul>
                    <li title="Check the status of requested repositories" ><a href="/requests/">Requests</a></li>
                    <li title="Impersonate user"><a href="#" id="trigger-impersonate">Impersonate user</a></li>
                  </ul>
                   <div class="aui-dropdown2-heading">
                    <strong>JIRA</strong>
                  </div>
                  <ul>
                    <li title="Administrate access to private schemes" ><a href="/jira/schemes-access/">JIRA private schemes access</a></li>
                  </ul>
                  <div class="aui-dropdown2-heading">
                    <strong>SVN</strong>
                  </div>
                  <ul>
                    <li title="Request new SVN repository"><a href="/svn/request/">Request new SVN repository</a></li>
                    <li title="Unmanaged SVN repositories"><a href="/svn/allprojects-unmanaged/">Unmanaged SVN repositories</a></li>
                    <li title="Obsolete SVN repositories"><a href="/svn/allprojects-obsolete/">Obsolete SVN repositories</a></li>
                  </ul>
                </div>
                <div class="aui-dropdown2-section">
                  <div class="aui-dropdown2-heading">
                    <strong>Support</strong>
                  </div>
                  <ul>
                    <li><a href="https://cern.ch/gi://twiki.cern.ch/twiki/bin/viewauth/VcSystems/CernForge">TWiki Doc</a></li>
                  </ul>
                </div>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="aui-header-secondary">
          <ul class="aui-nav">

            <!-- Help menu -->
            <li>
              <a href="#dropdown-help" aria-owns="dropdown-help" aria-haspopup="true" class="aui-style-default aui-dropdown2-trigger">
                <span class="aui-icon aui-icon-small aui-iconfont-help">Help</span>
              </a>
              <div id="dropdown-help" class="aui-style-default aui-dropdown2">
                <div class="aui-dropdown2-section">
                  <ul>
                    <li>
                      <a href="https://cern.service-now.com/service-portal/report-ticket.do?name=request&amp;se=git-service">
                        Request support
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            {% if not impersonate %}
            <!-- Logout Menu -->
            <li>
              <a href="#dropdown-meta" aria-owns="dropdown-meta" aria-haspopup="true" class="aui-style-default aui-dropdown2-trigger">
                {{ displayName }} ({{ username }})
              </a>
              <div id="dropdown-meta" class="aui-style-default aui-dropdown2">
                <ul class="aui-list-truncate">
                  <li><a href="https://login.cern.ch/adfs/ls/?wa=wsignout1.0">Log out</a></li>
                </ul>
              </div>
            </li>
            {% else %}
            <li title="Stop impersonating user">
              <a href="#" id="trigger-impersonate" style="color: orange;">
                <span class="aui-icon aui-icon-small aui-iconfont-warning"></span> <em>{{displayName}} ({{username}})</em>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <section id="content" role="main">
      <header class="aui-page-header">
        {% block header %}
        {% endblock %}
      </header>
      <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
          {% block nav %}
          {% endblock %}
          <section class="aui-page-panel-content">
            {% block content %}
            {% endblock %}
          </section><!-- .aui-page-panel-content -->
        </div> <!-- .aui-page-panel-inner -->
      </div><!--  .aui-page-panel-->
    </section> <!-- main -->
    <footer id="footer" class="refapp-footer">
      <section class="footer-body">
        Layout created with <a href="https://docs.atlassian.com/aui/latest/">AUI</a> made available by:
      </section>
    </footer>
  </div> <!-- .page -->
  {% block scripts %}
  {% endblock %}
  {% include "cernforge/dialogs/impersonate.html" with id="impersonate" size="small" title="Impersonate User" trigger="#trigger-impersonate" %}
</body>
</html>
