{% extends "cernforge/main_template.html" %}
{% block header %}
<div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <ol class="aui-nav aui-nav-breadcrumbs">
      <li><a href="/">Home page</a></li>
      <li class="aui-nav-selected">Requests</li>
    </ol>
    <h1>Requested Projects</h1>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="aui-message aui-message-generic" style="margin-bottom: 15px;">
  <p class="title">What's shown here?</p>
  <p>
    <ul>
      <li>All SVN repositories in state requested, approved or creating, as well as repositories in state rejected that was requested less than 7 days ago.</li>
      <li>All Git repositories in state requested or creating.</li>
      <li>All JIRA projects in state creating.</li>
    </ul>
  </p>
</div>
<div id="projecttable">
  <table class="aui aui-table-sortable" id="projects">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Status</th>
        <th>Requestor</th>
        <th>Requested</th>
      </tr>
    </thead>
    <tbody>
      {% for item in svn_list %}
      <tr>
        <td><span class="aui-lozenge aui-lozenge-subtle aui-lozenge-default">SVN</span></td>
        <td>{{ item.shortname }}{% if item.stuck %} <span class="aui-icon aui-icon-small aui-iconfont-warning" title="This repository was requested more than one day ago"></span>{% endif %}</td>
        <td>
          {{ item.status }}
          {% if item.status == 'requested' %}
          <a class="trigger-acceptSvnRepository" id="{{ item.shortname }}" href="#">
            <small>[Approve/Reject]</small>
          </a>
          {% elif item.status == 'creating' %}
          <span class="aui-icon aui-icon-wait"></span>
          {% endif %}
        </td>
        <td>{{ item.requestor }}</td>
        <td>{{ item.create_date }}</td>
      </tr>
      {% endfor %}
      {% for item in git_list %}
      <tr>
        <td><span class="aui-lozenge aui-lozenge-subtle aui-lozenge-default">Git</span></td>
        <td>{{ item.shortname }}{% if item.stuck %} <span class="aui-icon aui-icon-small aui-iconfont-warning" title="This repository was requested more than one day ago"></span>{% endif %}</td>
        <td>
          {{ item.status }}
          {% if item.status == 'requested' %}
          <a class="trigger-acceptGitRepository" id="{{ item.shortname }}" href="#">
            <small>[Approve/Reject]</small>
          </a>
          {% elif item.status == 'creating' %}
          <span class="aui-icon aui-icon-wait"></span>
          {% endif %}
        </td>
        <td>{{ item.requestor }}</td>
        <td>{{ item.create_date }}</td>
      </tr>
      {% endfor %}
      {% for item in jira_linkedrepository_requests %}
      <tr>
        <td><span class="aui-lozenge aui-lozenge-subtle aui-lozenge-default">JIRA-Repository-Link</span></td>
        <td>{{ item.repository_url }}{% if item.stuck %} <span class="aui-icon aui-icon-small aui-iconfont-warning" title="This repository link was requested more than one hour"></span>{% endif %}</td>
        <td>creating <span class="aui-icon aui-icon-wait"></span></td>
        <td>{{ item.requestor }}</td>
        <td>{{ item.request_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "cernforge/dialogs/acceptRequest.html" with id="acceptSvnRepository" size="small" title="Accept/Reject SVN repository" trigger=".trigger-acceptSvnRepository" confirmmessage="Do you want to accept or reject this repository?" apiendpoint="svn" %}
  {% include "cernforge/dialogs/acceptRequest.html" with id="acceptGitRepository" size="small" title="Accept/Reject Git repository" trigger=".trigger-acceptGitRepository" confirmmessage="Do you want to accept or reject this repository?" apiendpoint="git" %}
</div>
{% endblock %}
