{% extends "cernforge/main_template.html" %}
{% block content %}
  <div class="aui-message aui-message-success">
    <p class="title">Success!</p>
    <p>{{success_message}}</p>
    <p>Click <a href="/">here</a> to go back to the home page.</p>
  </div>
{% endblock %}
